* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

section .heading h2 {
  position: relative;
  display: inline;
  color: #f5f5f5;
  padding: 0.6rem 0;
  font-size: 1.6em;
}
section .heading h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background: #353535;
}
section .heading h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 30%;
  height: 0.2rem;
  left: 0;
  background: #007ced;
}

.section {
  max-width: 1200px;
  margin: auto;
  padding: 3rem 1rem;
}

section {
  margin-top: 5rem !important;
}

body {
  background: #222222;
}
body .navbar {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  z-index: 90;
}
body .navbar a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
  gap: 10px;
}
body .navbar a .box {
  background: #007ced;
  border-radius: 50%;
  padding: 20px 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .navbar .links ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
body .navbar .links ul a {
  color: #f5f5f5;
  opacity: 0.55;
}
body .navbar .links ul a:hover {
  opacity: 1;
  transition: 1s;
}
body .enterance .box2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .enterance .box2 .box1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .enterance .box2 .box1 .box {
  background: #444;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  padding: 1rem;
  display: flex;
  border: 1px solid black;
}
body .enterance .box2 .box1 .box img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .enterance .text {
  display: flex;
  gap: 1rem;
  padding: 2rem;
  width: 100%;
  color: #f5f5f5;
  flex-direction: column;
}
body .enterance .text h4 {
  color: #aaa;
  font-weight: 300;
}
body .enterance .text p {
  color: #d5d5d5;
}
body .enterance .text .button-con button {
  background: #444;
  padding: 1rem 2rem;
  color: #fff;
  border-radius: 2rem;
  border: 2px solid #d5d5d5;
}
body .enterance .text .button-con button a {
  color: #f5f5f5;
}
body .w .heading {
  padding: 1rem 2rem;
}
body .w .box {
  display: flex;
  flex-wrap: wrap;
}
body .w .box .card {
  display: flex;
  padding: 2rem;
  gap: 1rem;
  width: 50%;
  flex-direction: column;
}
body .w .box .card .card-icon {
  display: flex;
  gap: 1rem;
  font-size: 1.3em;
}
body .w .box .card .card-icon h3 {
  color: #f5f5f5;
}
body .w .box .card p {
  color: #d5d5d5;
}
body .skills-bar {
  display: flex;
  color: #f5f5f5;
  flex-wrap: wrap;
}
body .skills-bar .lang,
body .skills-bar .coding {
  display: flex;
  padding: 1rem;
  width: 50%;
  flex-direction: column;
}
body .skills-bar .lang .bar,
body .skills-bar .coding .bar {
  color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding: 1.3rem 0;
}
body .skills-bar .lang .bar::before,
body .skills-bar .coding .bar::before {
  content: "";
  position: absolute;
  border-radius: 0.2rem;
  bottom: 0;
  left: 0;
  height: 0.5rem;
  width: 100%;
  background: #353535;
}
body .skills-bar .lang .bar::after,
body .skills-bar .coding .bar::after {
  content: "";
  position: absolute;
  border-radius: 0.5rem;
  bottom: 0;
  left: 0;
  height: 0.5rem;
  background-color: green;
  -webkit-animation: input 1s 1 forwards;
          animation: input 1s 1 forwards;
}
body .contact {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
body .contact .box {
  display: flex;
}
body .contact .box .icons {
  width: 100%;
  padding: 0 1.5rem 0 0;
}
body .contact .box .icons .icon {
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem 0;
}
body .contact .box .icons .icon .size {
  font-size: 1.8em;
}
body .contact .box .icons .icon .text h4 {
  color: #f5f5f5;
}
body .contact .box .icons .icon .text p {
  color: #d5d5d5;
}
body .contact .box .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  gap: 2rem;
}
body .contact .box .form .box1 {
  display: flex;
  gap: 2rem;
}
body .contact .box .form .box1 .input,
body .contact .box .form .box1 .text {
  width: 50%;
}
body .contact .box .form .box1 .input .border-blue.active,
body .contact .box .form .box1 .text .border-blue.active {
  border-color: #007ced;
}
body .contact .box .form .box1 .input input,
body .contact .box .form .box1 .input textarea,
body .contact .box .form .box1 .text input,
body .contact .box .form .box1 .text textarea {
  border: 2px solid #555;
  background: transparent;
  border-radius: 6px;
  width: 100%;
  padding: 1rem;
  outline: none;
  color: #fff;
}
body .contact .box .form .box1 .input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body .contact .box .form button {
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: 2px solid #007ced;
  background: #333;
  color: #fff;
}
body .contact .box .form button:hover {
  background: #007ced;
  transition: 1s;
}

@media (max-width: 750px) {
  .navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .navbar .menu .drop-menu {
    display: flex !important;
    font-size: 2em;
  }
  .navbar .menu .links {
    display: none;
  }
  .navbar .menu .links ul {
    flex-direction: column;
  }
  .navbar .menu.active .links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    z-index: 999;
    background: #333333;
  }
  .enterance {
    padding: 2rem;
  }
  .enterance .box2 {
    flex-direction: column;
    gap: 2rem;
  }
  .enterance .box2 .text {
    padding: 0 !important;
    justify-content: center;
    align-items: center;
  }
  .w {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
  }
  .w .heading {
    padding: 0 !important;
  }
  .w .box {
    gap: 2rem;
  }
  .w .box .card {
    width: 100% !important;
    padding: 0 !important;
  }
  .skills-bar {
    padding: 2rem;
    gap: 3rem;
  }
  .skills-bar .lang,
.skills-bar .coding {
    width: 100% !important;
    padding: 0 !important;
  }
  .contact {
    padding: 2rem !important;
  }
  .contact .box {
    flex-wrap: wrap;
  }
  .contact .box .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact .box .form {
    align-items: center;
    justify-content: center;
  }
  .contact .box .form .box1 {
    width: 100%;
    flex-direction: column;
  }
  .contact .box .form .box1 .input, .contact .box .form .box1 .text {
    width: 100% !important;
  }
}
@media (max-width: 350px) {
  .enterance .box2 .box1 .box {
    width: 200px !important;
    height: 200px !important;
  }
}
@-webkit-keyframes input {
  0% {
    right: 100%;
  }
  100% {
    right: calc(100% - var(--right));
  }
}
@keyframes input {
  0% {
    right: 100%;
  }
  100% {
    right: calc(100% - var(--right));
  }
}/*# sourceMappingURL=main.css.map */