* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


section .heading h2 {
    position: relative;
    display: inline;
    color: #f5f5f5;
    padding: 5px 0;
    font-size: 1.6em;


    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: #353535;

    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 30%;
        height: 2px;
        left: 0;
        background: #007ced;
    }
}
section{
    max-width: 1200px;
    margin: auto;
    margin-top: 60px;
    padding: 20px 0;
}

body {
    background: #222222;

    .navbar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:20px;
        background: #222;
        z-index: 90;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #f5f5f5;
            gap: 10px;

            .box {
                background: #007ced;
                border-radius: 50%;
                padding: 20px 10px;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        

        .links {

            
            ul {
                display: flex;
                list-style: none;
                align-items: center;
                justify-content: center;
                gap: 30px;

                a {
                    color: #f5f5f5;
                    opacity: .55;

                    &:hover {
                        opacity: 1;
                        transition: 1s;
                    }
                }
            }
        }
    }

    .enterance {

        .box2 {
            display: flex;
            align-items: center;
            justify-content: center;
                
            .box1 {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            
                .box {
                    background: #444;
                    border-radius: 50%;
                    width: 300px;
                    height: 300px;
                    padding: 15px;
                    display: flex;
                    border: 1px solid black;

                    img {
                        border-radius: 50%;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;

                    }
                }
            }
        }

                .text {
                    display: flex;
                    gap: 15px;
                    padding: 20px;
                    width: 100%;
                    color: #f5f5f5;
                    flex-direction: column;

                    h4 {
                        color: #aaa;
                        font-weight: 300;
                    }

                    p {
                        color: #d5d5d5;
                    }

                    .button-con {

                        button {

                            background: #444;
                            padding: 12px 30px;
                            color: #fff;
                            border-radius: 30px;
                            border: 2px solid #d5d5d5;

                            a {
                                color: #f5f5f5;
                            }
                        }
                    }
                }
            }
        

    .w {
        .heading{
        padding: 5px 20px;
       }
        .box {
            display: flex;
            flex-wrap: wrap;

            .card {
                display: flex;
                padding: 20px;
                gap: 7px;
                width: 50%;
                flex-direction: column;
                     
                .card-icon {
                    display: flex;
                    gap: 10px;
                    font-size: 1.3em;

                    h3 {
                        color: #f5f5f5;
                    }
                }
                    p {
                        color: #d5d5d5;
                    }
            }
        }
    }

    .skills-bar {
        display: flex;
        color: #f5f5f5;

        .lang,
        .coding {
            display: flex;
            padding: 20px;
            width: 50%;
            flex-direction: column;

            .bar {
                color: #f5f5f5;
                display: flex;
                justify-content: space-between;
                position: relative;
                align-items: center;
                padding: 15px 0;

                &::before {
                    content: '';
                    position: absolute;
                    border-radius: 3px;
                    bottom: 0;
                    left: 0;
                    height: 6px;
                    width: 100%;
                    background: #353535;
                }

                &::after {
                    content: '';
                    position: absolute;
                    border-radius: 3px;
                    bottom: 0;
                    left: 0;
                    height: 6px;
                    background-color: green;
                    animation: input 1s 1 forwards;


                }
            }
        }
    }

    .contact {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;

        .box {
            display: flex;

            .icons {
                width: 100%;
                padding: 0 20px 0 0;

                .icon {
                    display: flex;
                    gap: 20px;
                    padding: 20px 0;

                    .size {
                        font-size: 1.8em;
                    }

                    .text {

                        h4 {
                            color: #f5f5f5;
                        }

                        p {
                            color: #d5d5d5;
                        }
                    }
                }


            }

            .form {
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 20px 0;
                gap: 30px;

                .box1 {
                    display: flex;
                    gap: 20px;

                    .input,
                    .text {
                        width: 50%;

                        .border-blue.active{
                            border-color: #007ced;
                        }


                        input,
                        textarea {
                            border: 2px solid #555;
                            background: transparent;
                            border-radius: 6px;
                            width: 100%;
                            padding: 15px;
                            outline: none;
                            color: #fff;
                            
                        }

                    }


                    .input {
                        display: flex;
                        flex-direction: column;
                        gap: 17px;

                    }

                }

                button {
                    padding: 12px 30px;
                    border-radius: 20px;
                    border: 2px solid #007ced;
                    background: #333;
                    color: #fff;

                    &:hover {
                        background: #007ced;
                        transition: 1s;
                    }
                }

            }
        }
    }
}
@media (max-width:750px){
    .navbar{
        position: sticky;
        top: 0;
        
        .menu{
            .drop-menu{
                display: flex !important;
                font-size: 2em;
            }
            .links{
                    display: none ;
                    ul{
                        flex-direction: column;
                    }
                }
        }
        .menu.active{

            .links{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px 0;
                position: absolute;
                top: 100%;
                right: 0;
                width: 200px;
                z-index: 999;
                background: #333333;
            }
        }
    }
}



@keyframes input {
    0% {
        right: 100%;
    }

    100% {
        right: calc(100% - var(--right));
    }
}