* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


section .heading h2 {
    position: relative;
    display: inline;
    padding: 5px 0;


    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: #353535;

    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 30%;
        height: 2px;
        left: 0;
        background: #007ced;
    }
}

body {
    background: #222222;

    .navbar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background: #222;
        position: relative;
        z-index: 90;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #f5f5f5;
            gap: 10px;

            .box {
                background: #007ced;
                border-radius: 50%;
                padding: 20px 10px;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        

        .links {

            
            ul {
                display: flex;
                list-style: none;
                align-items: center;
                justify-content: center;
                gap: 30px;

                a {
                    color: #f5f5f5;
                    opacity: .55;

                    &:hover {
                        opacity: 1;
                        transition: 1s;
                    }
                }
            }
        }
    }

    .enterance {
        display: flex;
        width: 80%;
        justify-content: center;
        align-items: center;
        margin-top: 60px;

        .box2 {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        

                
            .box1 {
                width: 45%;
                display: flex;
                align-items: center;
                justify-content: center;
            
                .box {
                    background: #444;
                    border-radius: 50%;
                    width: 250px;
                    height: 250px;
                    padding: 15px;
                    display: flex;
                    border: 1px solid black;

                    img {
                        border-radius: 50%;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;

                    }
                }
            }
        }

                .text {
                    display: flex;
                    gap: 15px;
                    width: 45%;
                    color: #f5f5f5;
                    flex-direction: column;

                    h4 {
                        color: #aaa;
                        font-weight: 300;
                    }

                    p {
                        color: #d5d5d5;
                    }

                    .button-con {

                        button {

                            background: #444;
                            padding: 12px 30px;
                            color: #fff;
                            border-radius: 30px;
                            border: 2px solid #d5d5d5;

                            a {
                                color: #f5f5f5;
                            }
                        }
                    }
                }
            }
        

    .w {
        width: 80%;
        margin: auto;
        margin-top: 60px;
        color: #f5f5f5;

        .box {
            display: flex;
            flex-wrap: wrap;

            .card {
                display: flex;
                width: 50%;

                     .text {

                .card-icon {
                    .svg-inline--fa {
                    font-size: 2em;
                    }
                }

               
                    padding: 20px 0;
                    display: flex;
                    gap: 10px;
                    flex-direction: column;

                    h3 {
                        color: #f5f5f5;
                    }

                    p {
                        color: #d5d5d5;
                    }
                }
            }
        }
    }

    .skills-bar {
        width: 80%;
        margin: auto;
        gap: 40px;
        display: flex;
        color: #f5f5f5;
        margin-top: 60px;

        .lang,
        .coding {
            display: flex;
            width: 50%;
            flex-direction: column;

            .bar {
                color: #f5f5f5;
                display: flex;
                justify-content: space-between;
                position: relative;
                align-items: center;
                padding: 15px 0;

                &::before {
                    content: '';
                    position: absolute;
                    border-radius: 3px;
                    bottom: 0;
                    left: 0;
                    height: 6px;
                    width: 100%;
                    background: #353535;
                }

                &::after {
                    content: '';
                    position: absolute;
                    border-radius: 3px;
                    bottom: 0;
                    left: 0;
                    height: 6px;
                    background-color: green;
                    animation: input 1s 1 forwards;


                }
            }
        }
    }

    .contact {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        margin-top: 60px;

        .box {
            display: flex;
            width: 100%;

            .icons {
                width: 50%;
                padding: 10px;

                .icon {
                    display: flex;
                    gap: 20px;
                    padding: 20px 0;

                    .size {
                        font-size: 1.8em;
                    }

                    .text {

                        h4 {
                            color: #f5f5f5;
                        }

                        p {
                            color: #d5d5d5;
                        }
                    }
                }


            }

            .form {
                width: 50%;
                display: flex;
                flex-direction: column;
                padding: 35px 0;
                gap: 30px;

                .box1 {
                    display: flex;
                    gap: 20px;

                    .input,
                    .text {
                        width: 50%;

                        .border-blue.active{
                            border-color: #007ced;
                        }


                        input,
                        textarea {
                            border: 2px solid #555;
                            background: transparent;
                            border-radius: 6px;
                            padding: 15px;
                            outline: none;
                            color: #fff;
                            position: relative;
                            
                        }

                    }


                    .input {
                        display: flex;
                        flex-direction: column;
                        gap: 17px;

                    }

                }

                button {
                    padding: 12px 30px;
                    border-radius: 20px;
                    border: 2px solid #007ced;
                    background: #333;
                    color: #fff;

                    &:hover {
                        background: #007ced;
                        transition: 1s;
                    }
                }

            }
        }
    }
}

@media (max-width:800px){
    .contact{
        display: flex;
        .box{
            flex-direction: column;
            align-items: center;
            justify-content: center;
           
            .icons{
                width: 90% !important;
                flex-direction: column;
                align-items: center;
                display: flex;
                justify-content: center;
            }
            .form{
                width: 90% !important;
                align-items: center;

                .box1{
                    flex-direction: column !important;
                    align-items: center;
                    justify-content: center;

                    .input, .text {
                        width: 100% !important;

                    }
                   textarea{
                            width: 100% !important;
                        } 
                }
            }
        }
    }
    .navbar{
        position: sticky !important;
        top: 0;
        display: flex !important;

        .menu{
            .links{
                display: none;
            }
            .fa-bars{
            display: flex !important;
            }
        }
        .menu.active{
            .links{
                display: flex;
            }
        
        .links{
            display: flex;
            top: 100%;
            width: 200px;
            background: #333;
            right: 0;
            position: absolute;
            align-items: center;
            justify-content: center;
            padding: 20px;
            ul{
                flex-direction: column;
                gap: 20px;
            }
        }
    }         

    }

}

@media (max-width:700px ){


    .enterance{

        .box1{
            width: 80% !important;
            
        }
        .text{
            align-items: center;
            justify-content: center;
            width: 80% !important;
        }
    }
    .w{
        .box{
            flex-direction: column;
            
            .card{
                width: auto !important;
            }
        }
    }
    .skills-bar{
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }
   

}

@media (max-width:380px){
    .enterance{
        .box1{
            .box{

                width: 200px !important;
                height: 200px !important;
            }
        }
    }
}


@keyframes input {
    0% {
        right: 100%;
    }

    100% {
        right: calc(100% - var(--right));
    }
}